/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply bg-v-white text-v-black;
    }

    .heavy-underline {
        background-image: linear-gradient(#ad9ce3, #ad9ce3);
        background-position: bottom;
        background-size: 100% 10%;
        background-repeat: no-repeat;
    }

    .v-h1 {
        @apply text-4xl md:text-5xl lg:text-6xl font-bold leading-snug sm:leading-snug md:leading-tight lg:leading-pizzo;
    }

    .v-h2 {
        @apply text-3xl md:text-4xl lg:text-5xl font-semibold leading-snug sm:leading-snug md:leading-tight lg:leading-tight;
    }

    .v-h3 {
        @apply text-xl md:text-2xl lg:text-3xl font-semibold leading-normal sm:leading-normal md:leading-snug lg:leading-snug;
    }

    .v-h4 {
        @apply text-lg md:text-xl lg:text-2xl font-semibold leading-normal sm:leading-normal md:leading-snug lg:leading-snug;
    }

    /* v-element is for text in an element (link, header, etc) */
    .v-element {
        @apply text-base md:text-lg lg:text-xl font-medium leading-relaxed sm:leading-relaxed md:leading-normal lg:leading-normal;
    }

    .v-p {
        @apply text-base md:text-lg lg:text-xl font-normal leading-relaxed sm:leading-relaxed md:leading-normal lg:leading-normal;
    }

    p {
        @apply v-p;
    }

    .v-label {
        @apply text-lg md:text-xl lg:text-2xl font-medium leading-normal sm:leading-normal md:leading-snug lg:leading-snug;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

p {
    text-wrap: pretty;
}

p,
li,
figcaption {
    max-width: 65ch;
}

/* Custom classes */
.v-button {
    @apply inline-flex px-5 py-3.5 border font-normal text-v-white bg-v-black hover:bg-v-lilac focus:bg-v-lilac;
}

.v-border {
    @apply border-4 border-v-black p-4;
}

.verifa-bullet {
    list-style-image: url(/favicon-16x16.png);
    @apply font-semibold text-v-black
}

input[type=text],
input[type=email],
input[type=url],
textarea {
    @apply rounded-none w-full py-3.5 border-[3px] font-normal text-xl border-v-black;
    @apply focus:border-v-lilac focus:outline-none focus:ring-0;
    @apply placeholder-v-beige;
}

section {
    @apply py-10 md:py-12 lg:py-16;
}

blockquote {
    @apply !border-v-lilac;
}

blockquote>p {
    @apply text-2xl md:text-3xl lg:text-4xl font-normal leading-loose sm:leading-loose md:leading-relaxed lg:leading-relaxed;
}


/*
text-xl	    font-size: 1.25rem;
            line-height: 1.75rem;

text-2xl	font-size: 1.5rem;
            line-height: 2rem;

text-3xl	font-size: 1.875rem;
            line-height: 2.25rem;

text-4xl	font-size: 2.25rem;
            line-height: 2.5rem;

text-5xl	font-size: 3rem;
            line-height: 1;

text-6xl	font-size: 3.75rem;
            line-height: 1;

text-7xl	font-size: 4.5rem;
            line-height: 1;

text-8xl	font-size: 6rem;
            line-height: 1;

leading-pizzo   line-height: 1.1
leading-tight	line-height: 1.25;
leading-snug	line-height: 1.375;
leading-normal	line-height: 1.5;
leading-relaxed	line-height: 1.625;
leading-loose	line-height: 2;


mb-0.5	margin-bottom: 0.125rem;
mb-1	margin-bottom: 0.25rem;
mb-1.5	margin-bottom: 0.375rem;
mb-2	margin-bottom: 0.5rem;
mb-2.5	margin-bottom: 0.625rem;
mb-3	margin-bottom: 0.75rem;
mb-3.5	margin-bottom: 0.875rem;
mb-4	margin-bottom: 1rem;
mb-5	margin-bottom: 1.25rem;
mb-6	margin-bottom: 1.5rem;
mb-7	margin-bottom: 1.75rem;
mb-8	margin-bottom: 2rem;
mb-9	margin-bottom: 2.25rem;
mb-10	margin-bottom: 2.5rem;
mb-11	margin-bottom: 2.75rem;
mb-12	margin-bottom: 3rem;
mb-14	margin-bottom: 3.5rem;
mb-16	margin-bottom: 4rem;

 */

/* Outfit font */

@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(/static/fonts/Outfit-Thin.ttf);
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url(/static/fonts/Outfit-ExtraLight.ttf);
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(/static/fonts/Outfit-Light.ttf);
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/static/fonts/Outfit-Regular.ttf);
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(/static/fonts/Outfit-Medium.ttf);
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(/static/fonts/Outfit-SemiBold.ttf);
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/static/fonts/Outfit-Bold.ttf);
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(/static/fonts/Outfit-ExtraBold.ttf);
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(/static/fonts/Outfit-Black.ttf);
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}