package website

templ servicesAssessments() {
	<section class="container mx-auto">
		@headerLine()
		<h4 class="v-h4 mt-12">Assessments.</h4>
		<h1 class="v-h1 mt-4">Bla bla bla bla blaaaa.</h1>
	</section>
}
