package website

templ servicesAssessmentsDeveloperExperience() {
	<section class="container mx-auto">
		@columns(false) {
			@column("") {
				<h1 class="v-h1">Developer Experience.</h1>
				<h4 class="mt-8 v-h4">
					TODO: Write this header.
				</h4>
			}
			@column("") {
				<img
					class="object-contain h-full w-full"
					src="/static/visibility.svg"
					alt="An illustration of woman holding a magnifying glass up to a screen displaying source code."
				/>
			}
		}
	</section>
}
