package website

type SiteMapPage struct {
	Location        string
	LastMod         string
	Priority        string
	ChangeFrequency string
}

templ sitemap(pages []SiteMapPage) {
    @templ.Raw(`<?xml version="1.0" encoding="UTF-8"?>`)
    <urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    for _, page := range pages {
        <url>
            <loc>{page.Location}</loc>
            <lastmod>{page.LastMod}</lastmod>
            <priority>{page.Priority}</priority>
            <changefreq>{page.ChangeFrequency}</changefreq>
        </url>
    }
    </urlset>
}