package website

templ thankyou() {
	<section
		class="container mx-auto"
		_="init wait 3s then go to url '/'"
	>
		<h1 class="v-h1">Thank you for contacting us</h1>
		<h3 class="mt-4 v-h3">We will get back to you as soon as possible.</h3>
	</section>
}
