{{ define "main" }}
<main>
  <div class="not-found">
    <h1>404 - Page Not Found</h1>
    <p>Sorry, the page you are looking for doesn't exist or has been moved.</p>
    
    <div class="not-found-content">
      <h2>What happened?</h2>
      <p>The page you requested could not be found. This might be because:</p>
      <ul>
        <li>The URL was typed incorrectly</li>
        <li>The page has been moved or deleted</li>
        <li>You followed an outdated link</li>
      </ul>
      
      <h2>What can you do?</h2>
      <p>Here are some helpful links:</p>
      <ul>
        <li><a href="/">Go to Homepage</a></li>
        <li><a href="/blog/">Browse All Blog Posts</a></li>
        <li><a href="https://github.com/verifa">Visit our GitHub</a></li>
        <li><a href="https://www.linkedin.com/company/verifa">Connect on LinkedIn</a></li>
      </ul>
    </div>
  </div>
</main>
{{ end }}
