/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    /* Custom classes */
    .v-button {
        @apply inline-flex px-5 py-3.5 border border-transparent text-xl font-normal text-v-white bg-v-black hover:bg-v-lilac focus:bg-v-lilac;
    }

    .v-border {
        @apply border-4 border-v-black border-b-8 border-r-8 p-4;
    }

    /* Base style elements */
    /* h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    li {
        @apply text-v-black break-words;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-bold;
    }

    h1 {
        @apply text-5xl leading-tight sm:text-6xl sm:leading-tight md:text-7xl md:leading-tight;
        @apply mb-8;
    }

    h2 {
        @apply text-4xl leading-tight sm:text-5xl sm:leading-tight md:text-6xl md:leading-tight;
        @apply mb-8;
    }

    h3 {
        @apply text-3xl md:text-4xl md:leading-snug;
        @apply mb-8;
    }

    h4 {
        @apply text-2xl md:leading-relaxed;
        @apply mb-6;
    }

    h5 {
        @apply text-xl leading-relaxed;
        @apply mb-8;
    }

    h6 {
        @apply text-lg leading-relaxed;
        @apply mb-8;
    }

    p,
    li,
    button,
    input {
        @apply text-xl font-light leading-relaxed;
    }

    p {
        @apply mb-12;
    } */

    label {
        @apply text-2xl mb-4 font-semibold leading-relaxed;
    }

    input[type=text],
    input[type=email],
    input[type=url],
    textarea {
        @apply rounded-none w-full py-3.5 border-[3px] font-normal text-xl border-v-black;
        @apply focus:border-v-lilac focus:outline-none focus:ring-0;
        @apply placeholder-v-beige;
    }


    a {
        @apply text-xl font-light;
    }

    .prose :not(.unprose) a, :root .prose > a {
        text-decoration: inherit;
    }

    .prose :not(.unprose) p, :root .prose > p {
        margin-top: 0;
        margin-bottom: 0;
    }

    ol,
    ul {
        @apply mb-12 list-inside;
    }

    ol {
        @apply list-decimal;
    }

    ul {
        @apply list-disc;
    }

    li {
        @apply mb-4;
    }

    li>ol,
    li>ul {
        @apply my-3 ml-4;
    }

    hr {
        @apply mb-12 border-2 border-v-black bg-v-black;
    }

    strong {
        @apply font-semibold;
    }

    pre,
    iframe {
        @apply mb-12;
    }

    main {
        @apply bg-v-white mx-auto max-w-7xl px-8 sm:px-16;
    }

    section,
    article {
        @apply mb-20 md:mb-24 lg:mb-32;
    }

    blockquote {
        @apply pl-6 border-l-4 border-v-lilac mb-12;
        /*
        Also apply fonts in case we are using the explicit <blockquote> tag
        without a nested <p> (which is generated by mdsvex.
        */
        @apply  text-2xl font-semibold leading-loose;
    }
    blockquote>p {
        @apply text-2xl font-semibold leading-loose;
    }

    cite {
        @apply text-xl font-light;
    }
}

/* 
text-xl	    font-size: 1.25rem;
            line-height: 1.75rem;

text-2xl	font-size: 1.5rem;
            line-height: 2rem;

text-3xl	font-size: 1.875rem;
            line-height: 2.25rem;

text-4xl	font-size: 2.25rem;
            line-height: 2.5rem;

text-5xl	font-size: 3rem;
            line-height: 1;

text-6xl	font-size: 3.75rem;
            line-height: 1;

text-7xl	font-size: 4.5rem;
            line-height: 1;

text-8xl	font-size: 6rem;
            line-height: 1;

leading-pizzo   line-height: 1.1
leading-tight	line-height: 1.25;
leading-snug	line-height: 1.375;
leading-normal	line-height: 1.5;
leading-relaxed	line-height: 1.625;
leading-loose	line-height: 2;


mb-0.5	margin-bottom: 0.125rem;
mb-1	margin-bottom: 0.25rem;
mb-1.5	margin-bottom: 0.375rem;
mb-2	margin-bottom: 0.5rem;
mb-2.5	margin-bottom: 0.625rem;
mb-3	margin-bottom: 0.75rem;
mb-3.5	margin-bottom: 0.875rem;
mb-4	margin-bottom: 1rem;
mb-5	margin-bottom: 1.25rem;
mb-6	margin-bottom: 1.5rem;
mb-7	margin-bottom: 1.75rem;
mb-8	margin-bottom: 2rem;
mb-9	margin-bottom: 2.25rem;
mb-10	margin-bottom: 2.5rem;
mb-11	margin-bottom: 2.75rem;
mb-12	margin-bottom: 3rem;
mb-14	margin-bottom: 3.5rem;
mb-16	margin-bottom: 4rem;

 */